<div>

	<form id="edit-profile" novalidate name="editCustomerForm" autocomplete="off" class="form-horizontal">
		<fieldset>
			
			<!-- <div class="control-group">											
				<label class="control-label" for="username">Username</label>
				<div class="controls">
					<input type="text" class="span4 disabled" id="username" value="john.smith" disabled>
					<p class="help-block">Your username is for logging in and cannot be changed.</p>
				</div> 			
			</div>  -->
			
			<div class="control-group">											
				<label class="control-label" for="firstname">ID<sup>*</sup></label>
				<div class="controls">
					<input class="span4" name="firstname" placeholder="First Name" ng-model="customer.id" 
  validator="required" required-error-message="First Name is required" valid-method="watch" />	
				</div> <!-- /controls -->				
			</div> <!-- /control-group -->
			
			
			<div class="control-group">											
				<label class="control-label" for="lastname">Name<sup>*</sup></label>
				<div class="controls">
					<input class="span4" name="lastname" placeholder="Last Name" ng-model="customer.name" 
  validator="required" required-error-message="Last Name is required" valid-method="watch" />
				</div> <!-- /controls -->				
			</div> <!-- /control-group -->
			
			
			<div class="control-group">											
				<label class="control-label" for="email">Password<sup>*</sup></label>
				<div class="controls">
					<input type="password" class="span4" name="email" placeholder="Email" ng-model="customer.password" required-error-message="Password is required" valid-method="watch" />
				</div> <!-- /controls -->				
			</div> <!-- /control-group -->
			
			<div class="control-group">											
				<label class="control-label" for="phone">Bithday<sup>*</sup></label>
				<div class="controls">
					<!-- <input type="date" class="span4" name="phone" ng-model="customer.bith" required-error-message="Phone is required" valid-method="watch"/> -->
					<ng-datepicker  ng-model="customer.bith" view-format="DD-MM-YYYY"></ng-datepicker>
				</div> <!-- /controls -->				
			</div> <!-- /control-group -->
			
			<div class="control-group">											
				<label class="control-label" for="bio">Address</label>
				<div class="controls">
					<textarea class="span4" name="bio" placeholder="Bio" ng-model="customer.adress" />
				</div> <!-- /controls -->				
			</div> <!-- /control-group -->
			
			<div class="control-group">											
				<label class="control-label" for="Country">Country<sup>*</sup></label>
				<div class="controls">
					<select class="span4" name="country" ng-model="customer.country" 
  validator="required" required-error-message="Country is required" valid-method="watch">
					<option value="">Select Country</option>
					<option value="United States">United States</option>
					<option value="United Kingdom">United Kingdom</option>
					<option value="India">India</option>
					<option value="Australia">Australia</option>
					</select>
				</div> <!-- /controls -->				
			</div> <!-- /control-group -->
				
			<div class="form-actions">
				<input type="hidden" name="id" ng-model="customer.id">
				<button type="button" class="btn btn-primary" validation-submit="editCustomerForm" ng-click="updateCustomer()">Ok</button> 
				<button ng-click="cancel()" class="btn">Cancel</button>
			</div> <!-- /form-actions -->
		</fieldset>
	</form>
								
</div>
